body {
  margin:0;
  box-sizing: border-box;
  padding:0;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.container {

  .lightbox__container {
    position:relative;

    .main__img {
      position:relative;
      height:390px;
      width:100%;
    }

    .next__previous__btns {
      border:none;
      padding:.7rem 1rem;
      border-radius:50%;
      background:hsl(223, 64%, 98%);
      position:absolute;
    }
    .next__previous__btns:hover {
      opacity:0.7;
    }
    .next__btn {
      top:50%;
      right:20px;
      transform: translateY(-25%);
    }
    .previous__btn {
      top:50%;
      left:20px;
      transform:translateY(-25%);
    }

    img {
      max-width:100%;
    }
  }


  button {
    cursor:pointer;
  }
  .nav__flex__desktop {
    display:none;
  }
  .nav__container__desktop {
    display:none;
  }

  .nav__flex__mobile {
    display:flex;
    gap:1rem;
    align-items:center;
    padding:1rem 1rem;

    header {
      flex-grow:1;
      font-size:1.8rem;
      font-weight:800;
      letter-spacing: -1px;
      margin-top:-3px;
    }

    .menu__icon {
      width:16px;
      height:16px;
    }

    .amount__container {
      position:relative;

      .amount {
        background:hsl(25, 100%, 65%);
        padding:1px 7px;
        border-radius:100px;
        font-size:.55rem;
        font-weight:700;
        color:hsl(0, 0%, 100%);
        position:absolute;
        top:-5px;
        left:14px;
      }
    }


  }
  .btn__nostyle {
    border:none;
    background: inherit;
  }

  .avatar {
    width:24px;
    height:24px;
  }

  .product__desc__container {
    padding:1rem;

    span {
      font-size:.8rem;
      font-weight:bolder;
      letter-spacing: 1px;
      color:hsl(25, 100%, 65%);
      text-transform:uppercase;
    }
    h2 {
      color: hsl(220, 13%, 13%)
    }

    p {
      color: hsl(219, 9%, 45%);
      line-height: 1.5;
      font-size:.9rem;
    }

    .price__flex {
      display:flex;
      gap:1rem;
      align-items: center;

      h2 {
        margin:0;
      }
      p {
        margin:.5rem 0
      }
      p:nth-child(2) {
        flex-grow:1;
        color:hsl(25, 100%, 65%);
      }
      p:last-child {
        color:hsl(220, 14%, 75%);
        text-decoration: line-through ;
      }
    }

    .price__flex__add__minus {
      display:flex;
      justify-content: space-between;
      background:hsl(223, 64%, 98%);
      align-items: center;
      padding:0 1rem;
      margin-top:1rem;
      border-radius:10px;

      p {
        font-weight: bolder;
        color:black;

      }
      .cart__btn {
          font-size:1.4rem;
          color:hsl(25, 100%, 65%);
          font-weight: bolder;
          border:none;
          background: inherit;
      }

    }

    .addCart__btn {
      width:100%;
      padding:1rem;
      margin-top:1rem;
      border-radius:10px;
      border:none;
      color:hsl(0,0%,100%);
      font-size:.95rem;
      font-weight: 700;
      background:hsl(26, 100%, 55%);
    }
  }
  .desktop__flex__main__container {
    display:block;
  }
  .amount__and__add__flex__desktop {
    display:block;
  }
  .desktop__product__old__price {
    display:none;
  }
  .desktop__flex__lightbox__images {
    display:none;
  }
}


@media (min-width:600px) and (max-width:999px) {
  .container {
    width:80%;
    margin:0 auto;

    .lightbox__container {
      position: relative;

      .main__img {
        position: relative;
        height: 390px;
        max-width: 100%;
        border-radius:10px;
      }
    }

    .nav__flex__mobile {

      header {
        flex-grow:1;
        font-size:2rem;
        font-weight:800;
        margin-top:-7px;
      }
      .menu__icon {
        width:20px;
        height:20px;
      }

      .amount__container {

        .btn__nostyle {

          .cart__img {
            width:32px;
            height:32px;
          }
        }

        .amount {
          background:hsl(25, 100%, 65%);
          padding:1px 7px;
          border-radius:100px;
          font-size:.55rem;
          font-weight:700;
          color:hsl(0, 0%, 100%);
          position:absolute;
          top:-5px;
          left:14px;
        }
      }

      .avatar {
        width:42px;
        height:42px;
      }

    }
  }
}
@media (min-width:1000px) {
  .container {

    .nav__flex__mobile {
      display:none;
    }

    .nav__container__desktop {
      display:block;
      background: hsl(0, 0%, 100%);
      border-bottom:1px solid hsl(223, 64%, 93%);
      padding:1.5rem;
    }

    .nav__flex__desktop {
      display:flex;
      gap:2.5rem;
      list-style: none;
      align-items: center;
      margin:0 6rem;

      .amount__container {
        position:relative;
        display:flex;
        align-items: center;
        gap:2rem;

        .amount {
          background:hsl(25, 100%, 65%);
          padding:1px 15px;
          border-radius:100px;
          font-size:1rem;
          font-weight:700;
          color:hsl(0, 0%, 100%);
          position:absolute;
          top:-8px;
          left:12px;
        }

        .avatar {
          width:40px;
          height:40px;
          cursor:pointer;
        }
        .btn__nostyle {
          width:32px;
          height:32px;
        }
        .btn__nostyle img {
          width:32px;
          height:32px;
        }
        .btn__nostyle:hover {
            opacity:0.5;
        }

      }

      header {
        font-size:2.2rem;
        font-weight:800;
        letter-spacing: -1px;
        margin-top:-3px;
        color:hsl(220, 13%, 13%);
      }

      li {
        cursor: pointer;
        color:hsl(219, 9%, 45%);
        font-size:1.2rem;
      }

      li:nth-child(5) {
        flex-grow:1;
      }
    }

    .desktop__flex__main__container {
      display:flex;
      justify-content:center;
      padding:5rem 0 0 0;
      margin:0 5rem;
      max-width:80%;
      gap:6rem;


      .lightbox__container {
        .main__img {
          height:auto;
        }

        .next__previous__btns {
          display:none;
        }
        .next__previous__btns:hover {
          display:none;
        }
        .next__btn {
          display:none;
        }
        .previous__btn {
          display:none;
        }

        img {
          max-width:500px;
          border-radius:25px;
        }

        .desktop__flex__lightbox__images {
          display:flex;
          margin-top:2rem;
          gap:2rem;

          .thumbnails__image {
            max-width:95px;
            border-radius:10px;
            border:3px solid white;
          }
          .thumbnails__image:hover {
            border-color:hsl(26, 100%, 55%);
            cursor:pointer;
            opacity:0.5;
          }
        }
      }
    }

    .product__desc__container {
      padding:0;
      align-self: center;
      max-width:450px;

      span {
        font-size:1.1rem;
      }
      h2 {
        font-size:1.8rem;
      }

      p {
        color: hsl(219, 9%, 45%);
        line-height: 1.5;
        font-size:1.1rem;

      }

      .price__flex {

        h2 {
          font-size:1.5rem;
        }

        p {
          font-size:1rem;
        }
        p:last-child {
          display:none;
        }
      }
      .desktop__product__old__price {
        display:block;
        margin:.5rem 0;
        color:hsl(220, 14%, 75%);
        text-decoration: line-through ;
      }

    }

    .amount__and__add__flex__desktop {
      display:flex;
      min-width:400px;
      gap:1rem;

      .price__flex__add__minus {
        display:flex;
        justify-content: space-between;
        background:hsl(223, 64%, 98%);
        align-items: center;
        padding:0 1rem;
        margin-top:1rem;
        max-width:100px;
        flex-grow:1;

        p {
          font-weight: bolder;
          color:black;

        }
        .cart__btn {
          font-size:1.4rem;
          color:hsl(25, 100%, 65%);
          font-weight: bolder;
          border:none;
          background: inherit;
        }
      }
      .addCart__btn {
        max-width:250px;
        padding:1rem;
        margin-top:1rem;
        border-radius:10px;
        border:none;
        color:hsl(0,0%,100%);
        font-size:.95rem;
        font-weight: 700;
        background:hsl(26, 100%, 55%);
      }
      .addCart__btn:hover {
        opacity:0.6;
      }
    }
  }
}
